@* crearTorneo Template File *@
@(torneoForm: Form[TorneoController.TorneoDef], user: models.user.User)(implicit messages: Messages, flash: Flash)

@layout.bootstrap("Crear torneo", scripts=Seq(routes.Assets.versioned("javascripts/crearTorneo.js").url)) {
  <h1>Datos del torneo</h1>
  
  <div class="jumbotron col-md-6 col-md-offset-3">
	  @helper.form(action = routes.TorneoController.torneoAdd) {
	    <input type="hidden" name="idtorneo" value="@torneoForm("idtorneo").value.getOrElse(-1L)"/>
	    @helper.inputText(torneoForm("Nombre"), 'class -> "col-md-12")
	    <input type="hidden" name="idcreador" value="@torneoForm("idcreador").value.getOrElse(user.id)"/>
	    
	    <input type="submit" class="btn btn-default col-md-2 col-md-offset-5" value="@messages("crearTorneoButton")">
	    
	    <hr/>
	    <h2 class="col-md-12">@messages("crearTorneo.crearEquipoTitle")</h2>
	    <div id="equipos">
		    <input type="text" name="equipo[0]" class="col-md-11" placeholder="@messages("crearTorneo.placeholderEquipo")"/>
	    </div>
	    
	    <input type="button" class="col-md-2 col-md-offset-5 btn btn-default" value="@messages("crearTorneo.agregarEquipoButton")"
	     onclick="equipoSpace.mkInput('equipos', '@messages("crearTorneo.placeholderEquipo")')"/>
	  }
  </div>
}