@* editarEquipo Template File *@
@(form: Form[(Long, String, Long)])(implicit flash: Flash, messages: Messages)

@layout.bootstrap(messages("editarEquipo.title")) {
  <div class="container">
    @layout.pageTitle {
      <h1>Editar equipo</h1>
    }
  </div>
  
  <div class="container-fluid">
    <div class="jumbotron col-md-8 col-md-offset-2">
		  @helper.form(action = routes.EquipoController.editarEquipo) {
		    <input type="hidden" name="idequipo" value="@form("idequipo").value"/>
		    @helper.inputText(form("Nombre"), 'placeholder -> messages("editarEquipo.placeholderNombre"))
		    <input type="hidden" name="idtorneo" value="@form("idtorneo").value"/>
		    <input type="submit" class="btn btn-default" value="@messages("editarEquipo.botonSubmit")"/>
		  }
		</div>
	</div>
}