@* registrarPartido Template File *@
@(idtorneo: Long,
  equiposTorneo: Seq[Equipo],
  formPartido: Form[(Long, Long, Int, Long, Int)])(implicit messages: Messages, flash: Flash)

@layout.bootstrap(messages("registrarPartido.title"),
  scripts=Seq(routes.Assets.versioned("lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js").url),
  stylesheets = Seq(routes.Assets.versioned("lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css").url)
) {
  
  
  <div class="container">
    @layout.pageTitle {
      <h1>@messages("registrarPartido.title")</h1>
    }
  </div>

  <div class="container">
	  @helper.form(action = routes.TorneoController.registrarAction(idtorneo)) {
	    @defining(equiposTorneo.map(e => (e.id.toString, e.nombre))) { es =>
	    
		    @helper.select(
		      formPartido("idcasa"),
		      options=es
		    )
		    @helper.inputText(formPartido("scorecasa"), 'type -> "number", '_label -> messages("registrarPartido.scorecasa.label"))
		    
		    
		    @helper.select(
		      formPartido("idvisitante"),
		      options=es
		    )
		    @helper.inputText(formPartido("scorevisitante"), 'type -> "number", '_label -> messages("registrarPartido.scorevisitante.label"))
		    
		  	<div class="container">
			    <div class="row">
			        <div class='col-sm-6'>
			            <div class="form-group">
			                <div class='input-group date' id='datetimepicker1'>
			                    <input type='text' class="form-control" />
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
			        <script type="text/javascript">
			            $(function () {
			                $('#datetimepicker1').datetimepicker({
				                showClose: true,
				                showTodayButton: true
			                });
			            });
			        </script>
			    </div>
			  </div>
		    
		    
		  	<input type="hidden" name="idtorneo" value="@idtorneo"></input>
		                
		  	<input type="submit" class="btn btn-default" value="@messages("registrarPartido.submit.text")"></input>
	  	}
	  }
  </div>
}