@* torneos Template File *@
@(ts: Seq[models.Torneo])(implicit flash: Flash)

@layout.bootstrap("Listado de torneos") {
    <div class="page-header">
      <h1 class="col-md-12">Torneos</h1>
    </div>
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
	      <table class="table">
	        <thead><tr><td class="col-md-10">Nombre</td><td class="col-md-2"></td></tr></thead>
	        <tbody>
				    @for(t <- ts) {
				        <tr>
				          <td class="col-md-10">@{t.nombre}</td>
				          <td class="col-md-2"><a class="btn btn-default" href="@routes.TorneoController.torneoRemove(t.id)">-</a></td>
				        </tr>
				    }
	        </tbody>
	      </table>
      </div>
    </div>
    
    <a href="@routes.TorneoController.createTorneo" class="btn btn-primary col-md-2 col-md-offset-5">+</a>
}
