@* torneoDetails Template File *@
@(t: Torneo, es: Seq[Equipo])(implicit flash: Flash, messages: Messages)

@layout.bootstrap(messages("torneoDetails.tituloVentana"), scripts=Seq(routes.Assets.versioned("javascripts/crearTorneo.js").url)) {
  <h1>@t.nombre</h1>
  
  <div class="container-fluid">
  
    <h2 class="col-md-12">Equipos</h2>
    <table class="table">
      <thead>
        <tr>
          <td class="col-md-11"><strong>Nombre</strong></td>
          <td class="col-md=1"></td>
        </tr>
      </thead>
      
      <tbody>
        @for(e <- es) {
          <tr>
            <td class="col-md-11">@e.nombre</td>
            <td class="col-md-1"><a href="@routes.EquipoController.editarEquipoView(t.id, e.id)">@messages("torneoDetails.editarEquipo")</a></td>
          </tr>
        }
      </tbody>
      
      <input type="button" onclick="popupEquipo('nuevosEquipos');" />
      
      <div id="nuevosEquipos">
        <p>Hello!</p>
      </div>
    </table>
  </div>
}