@* torneoDetails Template File *@
@(t: Torneo, es: Seq[Equipo], ps: Seq[(Partido, Equipo, Equipo)])(implicit flash: Flash, messages: Messages)

@layout.bootstrap(messages("torneoDetails.tituloVentana"),
  scripts = Seq(routes.Assets.versioned("javascripts/crearTorneo.js").url)
){
  <div class="container">
  
    @layout.pageTitle {
	    <h1 class="col-md-11">
	      @t.nombre
	      
	      @layout.link(
	        routes.TorneoController.editarTorneo(t.id),
	        models.layouts.LinkEdit,
	        "btn-xs",
	        "torneoDetails.editarTorneo")
	        
	    </h1>
	    
	    @layout.link(
	      routes.TorneoController.showTorneos(),
	      layouts.LinkExit,
	      "col-md-1",
	      "torneoDetails.exit")
    }
  
  
    <div class="col-sm-12 col-md-6">
	    <h2 class="col-md-12">
	      @messages("torneoDetails.equipos.header")
	    </h2>

      <span data-toggle="modal" data-target="#nuevosEquipos">
		    <button type="button"
		      class="btn btn-primary col-md-2 col-md-offset-5"
		      data-toggle="tooltip"
		      data-placement="top"
		      title="@messages("torneoDetails.agregarEquipoButton.tooltip")">
		      <span class="glyphicon glyphicon-plus"></span>
		      <span class="sr-only">@messages("torneoDetails.agregarEquipoButton")</span>
		    </button>
	    </span>
	    
	    <table class="table">
	      <thead>
	        <tr>
	          <td class="col-md-10"><strong>Nombre</strong></td>
	          <td class="col-md=1"></td>
	          <td class="col-md=1"></td>
	        </tr>
	      </thead>
	      
	      <tbody>
	        @for(e <- es) {
	          <tr>
	            <td class="col-md-10">@e.nombre</td>
	            <td class="col-md-1">
	              @layout.link(
	                routes.EquipoController.editarEquipoView(t.id, e.id),
	                layouts.LinkEdit,
	                "btn-sm",
	                "torneoDetails.editarEquipo")
	            </td>
	            <td class="col-md-1">
	              @layout.link(
	                routes.EquipoController.eliminarEquipo(t.id, e.id),
	                layouts.LinkRemove,
	                "btn-sm",
	                 "torneoDetails.eliminarEquipo")
	            </td>
	          </tr>
	        }
	      </tbody>
	      
	    </table>
    </div>
    
    
    <div class="col-sm-12 col-md-6">
      <h2>@messages("torneoDetails.partidos.header")</h2>
      
      <a type="button"
        class="btn btn-primary col-md-2 col-md-offset-5"
        title="@messages("torneoDetails.partidos.agregarPartidoButton.tooltip")"
        href="@routes.TorneoController.registrarPartido(t.id)"
      >
        <span class="glyphicon glyphicon-plus"></span>
        <span class="sr-only">@messages("torneoDetails.agregarPartidoButton")</span>
      </a>
      
      @if(!ps.isEmpty) {
	      <table class="table">
	        <thead>
	          <tr>
	            <td>Casa</td>
				<td></td>
			    <td>-</td>
				<td></td>
	            <td>Id Visitante</td>
	        </thead>
	        
	        <tbody>
	          @for((p, ecasa, evisitante) <- ps) {
	            <tr>
	              <td>@ecasa.nombre</td>
				  <td>@p.scoreCasa</td>
				  <td></td>
				  <td>@p.scoreVisitante</td>
	              <td>@evisitante.nombre</td>
	            </tr>
	          }
	        </tbody>
	      </table>
      }
    </div>
    
    
      
    <!-- Div para el dialogo modal -->
    <div id="nuevosEquipos" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">@messages("torneoDetails.agregarEquipo.header")</h4>
          </div>
          
          <div class="modal-body">
            <div class="input-group">
              <input type="text" class="form-control" name="nombreEquipo" id="nombreEquipo"
                placeholder="@messages("torneoDetails.agregarEquipo.equipoPlaceholder")"></input>
                
              <span class="input-group-btn">
	              <button class="btn btn-primary"
	                id="botonCrearEquipo"
	                onclick="addEquipo('@routes.EquipoController.addEquipo', '@routes.EquipoController.addEquipoSuccess(t.id)', 'nuevosEquipos', 'nombreEquipo', '@t.id');">
	                @messages("torneoDetails.agregarEquipo.submit")
	              </button>
              </span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready( function() {
	    $('#nuevosEquipos').on('shown.bs.modal', function() {
	        $('#nombreEquipo').focus();
	    });

	    $("#nombreEquipo").keyup(function(event){
	        if(event.keyCode == 13){
	            $("#botonCrearEquipo").click();
	        }
	    });
    })
  </script>
}