@(user: models.User, equipos: Seq[models.Equipo])

@main("Caimanera", Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">Welcome, you are now signed in!</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" style="height:40px;" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>First name:</strong></p><p class="col-md-6">@user.firstName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>Last name:</strong></p><p class="col-md-6">@user.lastName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>Full name:</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>Email:</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
                </div>
            </div>
            <hr class="col-md-12" />
        </div>
        <div class ="row">
          <div class="col-md-12">
            <h4>Equipos de los que es manager</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"><h5><strong>Nombre</strong></h5></div>
          <div class="col-md-6"><h5><strong>Fecha de creaci&oacute;n</strong></h5></div>
        </div>
        <div class="row data">
           <div class="col-md-12">
               @for(e <- equipos) {
                   <div class="row">
                       <p class="col-md-6">@e.nombre</p>
                       <p class="col-md-6">@e.fechaCreacion</p>
                   </div>
               }
            </div>
        </div>
        <div class="row">
            <hr class="col-md-12" />
            <p class="col-md-8">Presione <a href="@routes.ApplicationController.registrarEquipo">aqu&iacute;</a> para registrar un equipo</p>
        </div>
    </div>
}
